@dark-blue: #22313F;

.sqs-system-button,
.sqs-editable-button,
.BlogList-item-readmore,
.summary-read-more-link,
.sqs-block-button-element--small {
  .tweak-body-font !important;
  border-color: #fff !important;
  border: 2px solid;
  background-color: transparent !important;
  color: #fff !important;
  display: inline-block !important;
  border-radius: 30px !important;
  padding: 13px 40px 13px 26px !important;
  position: relative !important;
  text-transform: uppercase !important;

  > span:after {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 6px;
    width: 6px;
    background: #00adb5;
    border-radius: 50%;
  }
}

.pre-footer .summary-read-more-link {
  border-color: @dark-blue !important;
  color: @dark-blue !important;
}

.BlogList-item-readmore.BlogList-item-readmore  {
  display: block !important;
  margin-top: 20px;
  width: 90px;
}
