@dark-blue: #22313F;

.sqs-system-button,
.sqs-editable-button,
.sqs-block-button-element--small {
  .tweak-body-font !important;
  border-color: #fff !important;
  background-color: transparent !important;
  color: #fff !important;
  border-radius: 30px !important;
  padding: 13px 40px 13px 26px !important;
  position: relative !important;
  text-transform: uppercase !important;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 6px;
    width: 6px;
    background: #00adb5;
    border-radius: 50%;
  }
}
