.homepage {
  .Index-page:first-of-type + .Index-page {
      position: relative;
      overflow: visible;

      &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, rgba(red(@dark-blue), green(@dark-blue), blue(@dark-blue), 0) 0%, rgba(red(@dark-blue), green(@dark-blue), blue(@dark-blue), 1) 100%);
      position: absolute;
      top: -100px;
      }
  }
  .Header-inner div[data-nc-container="bottom-right"] {
    @background-sample: #1d242a;
    background: linear-gradient(to bottom, fade(@background-sample, 0%) 0%,fade(@background-sample, 70%) 50%,fade(@background-sample, 0%) 100%);
  }
}

.products {

    .intro {
      display: none;
      text-align: center;

      &.visible {
        display: block;
      }
    }

    .Main--products-list {
      position: relative;
      z-index: 99;
    }

    .Intro-content {
      padding-bottom: 0;

      .sqs-block.code-block:nth-of-type(2) {
        display: none;
      }
    }

    .ProductList-filter {
      overflow: visible;
      margin-bottom: 35px;
    }

    .ProductList-item {
      padding: 2px;
      border: 2px solid white;
      box-sizing: border-box;

      &.hidden {
        display: none;
      }

      &.visible {
        display: block;
      }
    }

    .ProductList-overlay {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      background: #171d1f;
      padding: 10px;
      z-index: 9;
      left: 0;
      right: 0;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      min-height: 60px;
      text-align: center;

      .ProductList-title {
        margin-top: 0;
        line-height: 1.1;
        font-weight: 600;
        font-family: 'moonlight';
        font-size: 13px;
      }
    }

    .ProductList-filter-list-item--all:not(.ProductList-filter-list-item--otherItemIsActive) .ProductList-filter-list-item-link,
    .ProductList-filter-list-item--active .ProductList-filter-list-item-link {
      border: 2px solid #00adb5;
      padding: 5px 10px;
      border-radius: 20px;
    }

    .Index-page-content {
        .summary-item {
            margin-bottom: 0 !important;
        }
    }
    .Index-page:not(:last-of-type) {
      .Index-page-content {
          padding-bottom: 0;
      }
    }

    .Main-content {
      padding-top: 25px;
    }

    .ProductItem-details {

      .ProductItem-details-title {
        font-family: 'Antic';
      }

      .customer-journeys {
        order: 5;
        display: flex;
        justify-content: flex-start;

        .sqs-add-to-cart-button {
          .sqs-block-button-element--small;
          border-radius: 20px 0 0 20px;
          opacity: 1;
          color: white;
          font-family: 'Karla';
          border: 2px solid white;
          padding: 15px 20px 18px;
        }

        div:nth-child(2) {
          .sqs-block-button-element--small {
            border-radius: 0 20px 20px 0;
          }
        }
      }
    }

    .ProductItem-gallery-slides-item {
      padding: 5px;
      border: white 3px solid;
      overflow: visible;

      img {
        max-width: 100%;
        position: relative;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 498px;
        height: 442px;
        // background: url('/assets/product_spatter.png') 0 0 no-repeat;
        background-size: cover;
        z-index: 0;
      }
    }
}

body:not(.homepage) {
  .Header-inner {
    overflow: visible;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 139px;
      height: 217px;
      background: url('/assets/furniture_spatter.png') 0 0 no-repeat;
      background-size: contain;
      z-index: 9;
    }
  }
}
