.homepage {
  .Index-page:first-of-type + .Index-page {
      position: relative;
      overflow: visible;

      &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, rgba(red(@dark-blue), green(@dark-blue), blue(@dark-blue), 0) 0%, rgba(red(@dark-blue), green(@dark-blue), blue(@dark-blue), 1) 100%);
      position: absolute;
      top: -100px;
      }
  }
  .Header-inner div[data-nc-container="bottom-right"] {
    @background-sample: #1d242a;
    background: linear-gradient(to bottom, fade(@background-sample, 0%) 0%,fade(@background-sample, 70%) 50%,fade(@background-sample, 0%) 100%);
  }
}

.products {
    .Index-page-content {
        .summary-item {
            margin-bottom: 0 !important;
        }
    }
    .Index-page:not(:last-of-type) {
      .Index-page-content {
          padding-bottom: 0;
      }
    }
    .ProductItem-gallery-slides-item {
      padding: 5px;
      border: white 3px solid;
    }
}

body:not(.homepage) {
  .Header-inner:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    width: 139px;
    height: 217px;
    background: url('/assets/furniture_spatter.png') 0 0 no-repeat;
    background-size: contain;
    z-index: 9;
  }
}
